---
import NavBar from '../../components/NavBar.astro';
import Time from '../../components/Time.astro';
import Layout from '../../layouts/Layout.astro';
import "../../styles/global.css";

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection('blog_posts');
  return posts.map(post => ({
    params: { cid:  post.data.content_id, category: post.data.main_category.replaceAll(" ","-").toLowerCase()},
    props: { post },
  }));

}

const { post } = Astro.props;
const { Content } = await render(post);

---

<Layout>
<NavBar/>
  <main class="mb-auto py-8">
    <div class="text-center pb-20">
      <div class="text-xl text-blue-700 underline underline-offset-8">{post.data.main_category}</div>
      <h1 class="text-5xl font-bold py-2">
        {post.data.title}
      </h1>
      <div class="text-gray-600">
        <Time date={post.data.published_at} />
      </div>
  </div>
<div class="font-sans text-xl font-light text-gray-600">
  <Fragment set:html= {post.data.content}/>
</div>

</main>
<Content />
<script>
  (window as any).dataLayer.push({
    event: 'content_viewed',
    page_name: window.location.pathname ,
    content_type:'single post'
    });
</script>
<Layout />
