---


let renderPostHTML:string;
let renderPostTitle: string;
 
const{ postData } = Astro.props;

import { postCurrentState } from '../../store/posts';

if(postData){
  renderPostTitle = postData.title;
  renderPostHTML = postData.content;
} else {
  renderPostTitle="";
  renderPostHTML = "<h2> Escribe tu post </h2>";
}
---
  <script>
    import Quill from "quill";
  const toolbarOptions = [
    [{ header: [1, 2, 3, false] }],
    ["bold", "italic", "underline"],
    [{ list: "ordered" }, { list: "bullet" }],
    ["blockquote"],
  [{ align: '' }, { align: 'center' }, { align: 'right' }],
    ["link", "image"],
  ];
  const quill = new Quill("#posteditor", {
    modules: {
      toolbar: toolbarOptions,
    },
    theme: "snow",
  });

  quill.getSemanticHTML(0, 50000);
  </script>
  <style>
      #posteditor {
    border: 0 transparent;
  }
  #posteditor {
    font-family: var(--font-sans);
    font-size:var(--text-2xl)
  }
  </style>

      <!-- Main content area (80%) -->
        <input 
          id="post-title" 
          type="text" 
          placeholder="Enter post title..." 
          value={renderPostTitle}
          class="w-full text-3xl font-bold border-0 border-b border-gray-200 pb-2 mb-6 focus:outline-none focus:border-blue-500 focus:ring-0" 
        />
        <div>
        <div class="border-hidden min-h-96 p-4 text-gray-800" id="posteditor">
          <Fragment set:html= {renderPostHTML}/> 
        </div>
 
    
      
  </div>
