---
import NavBar from '../components/NavBar.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

export const prerender = true;
---

<Layout>
	<NavBar />
    <h1>ABOUT ME :D</h1>
	<script>
		(window as any).dataLayer.push({
		  event: 'content_viewed',
		  page_name: window.location.pathname ,
		  content_type:'about'
		  });
	  </script>
</Layout>
