---
import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
---


  <header
    class="flex items-center w-full bg-white dark:bg-gray-950 justify-between py-10"
  >
    <a class="break-words" aria-label="TailwindBlog" href="/"
      ><div class="flex items-center justify-between">
        <div class="mr-3">
          <img src={logo.src} alt="TailwindBlog" class="h-15" />
        </div><div class="hidden h-6 text-2xl font-semibold sm:block">
          Nicolytics
        </div>
      </div></a
    ><div class="flex items-center space-x-4 leading-5 sm:-mr-6 sm:space-x-6">
      <div
        class="no-scrollbar hidden max-w-40 items-center gap-x-4 overflow-x-auto sm:flex md:max-w-72 lg:max-w-96"
      >
        <a
          class="hover:text-primary-500 dark:hover:text-primary-400 m-1 font-medium text-gray-900 dark:text-gray-100"
          href="/">Blog</a
        ><a
          class="hover:text-primary-500 dark:hover:text-primary-400 m-1 font-medium text-gray-900 dark:text-gray-100"
          href="/tags">Topicos</a
        ><a
          class="hover:text-primary-500 dark:hover:text-primary-400 m-1 font-medium text-gray-900 dark:text-gray-100"
          href="/about">About</a>
      </div><button aria-label="Search"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="hover:text-primary-500 dark:hover:text-primary-400 h-6 w-6 text-gray-900 dark:text-gray-100"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
          ></path></svg
        ></button
      ><div class="flex items-center">
        <div class="relative inline-block text-left" data-headlessui-state="">
          <div
            class="hover:text-primary-500 dark:hover:text-primary-400 flex items-center justify-center"
          >
            <button
              aria-label="Theme switcher"
              id="headlessui-menu-button-:Rtpkqlb:"
              type="button"
              aria-haspopup="menu"
              aria-expanded="false"
              data-headlessui-state=""
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="group:hover:text-gray-100 h-6 w-6"
                ><path
                  fill-rule="evenodd"
                  d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                  clip-rule="evenodd"></path></svg
              ></button>
          </div>
        </div>
      </div><button aria-label="Toggle Menu" class="sm:hidden"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="hover:text-primary-500 dark:hover:text-primary-400 h-8 w-8 text-gray-900 dark:text-gray-100"
          ><path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"></path></svg
        ></button>
    </div>
  </header>
</header>
