---
import "../../styles/global.css";

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection('blog_posts');
  return posts.map(post => ({
    params: { cid:  post.data.content_id, category: post.data.main_category.replaceAll(" ","-").toLowerCase()},
    props: { post },
  }));

}

const { post } = Astro.props;
const { Content } = await render(post);

---

<Content />

</main>