<!doctype html>
<html lang="en">
  <meta name="robots" content="noindex">

  <body class="bg-gray-200">
    <section >
      <slot />
    </section>
  </body>
  <script>
    
    import PocketBase from 'pocketbase';
    
    // Additional JavaScript to handle form submission
    const pb = new PocketBase("http://127.0.0.1:8090");

    let currentLocation = (window as any).location;
    let currentPathname = currentLocation.pathname;
    const authenticatedUser = pb.authStore.isValid;

    console.log("Authstore is valid ?", authenticatedUser)
    if (!authenticatedUser && currentPathname != "/login") {
      console.log("Not logged in")
      currentLocation.replace(window.location.origin + "/login")
    } else if(authenticatedUser && currentPathname == "/login") {
      console.log("Logged in")
      currentLocation.replace(window.location.origin + "/editor/create-post")
    }

  
  </script>
</html>
