<!doctype html>
<html lang="en">
	<link
	href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.snow.css"
	rel="stylesheet"
  />
	<body class="bg-gray-300">
		<section class="mx-auto max-w-3xl px-4 sm:px-6 xl:max-w-5xl xl:px-0">

			<slot />
		</section>
	</body>
	<script>
		import Quill from 'quill';
		const quill = new Quill('#editor', {
		theme: 'snow'
	  });  
	</script>
</html>

